# general configuration
mode=dev
loglevel=debug
session_key=thisistotallyasupersecretsessionkey

# discord connection
token=
guildid=
oauth2id=
oauth2secret=
discordoauth2redirectURL=http://localhost:5173/auth/redirect

# twitch connection
twitchoauth2id=
twitchoauth2secret=
twitchoauth2redirectURL=http://localhost:5173/twitch/redirect

# DB connection
#db=(sqlite|mysql)
#when using sqlite
#dbpath=omega-strikers-bot.db
#when using mysql
#dbpath=osuser:ospassword@tcp(localhost:3306)/euos?multiStatements=true